#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.list_container {
  display: flex;
}

ul {
  margin: 0;
}

.components {
  display: flex;
  justify-content: center;
}